@media screen and (min-width: 320px) {
  /* Wrapper */

  .app-wrap {
    margin: 15px 0;
    padding-top: 35px;
    max-width: 95%;
    background: #2e7d32;
    border-radius: 15px;
  }

  .wrapper {
    background: #e6e6e6;
    -webkit-overflow-scrolling: touch;
  }

  /* Header */

  .header {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #388e3c;
  }

  .brand {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }

  /* Navigation & Search */

  .nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }

  .nav-item {
    padding: 15px 20px;
    color: #7b7b7b;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }

  .input-filter {
    background: url("../images/search.svg") #fff no-repeat right;
    background-position: 20px;
    display: inherit;
    width: 100%;
    -webkit-appearance: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    padding: 20px 15px 20px 50px;
  }

  .search-no-results {
    padding: 15px 15px 15px 20px;
    height: 400px;
  }

  /* Explore boxes */

  .list-items {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .list-item-column {
    flex-grow: 1;
    max-width: 100%;
  }

  .list-item-column--info {
    padding: 0 15px;
  }

  .list-item {
    margin-bottom: 50px;
  }

  .list-item:nth-child(2n) {
    margin-right: 0;
  }

  .list-item-column--avatar {
    background-color: #e0e0e0;
    text-align: center;
  }

  .list-item-column--avatar:hover {
    border-color: #8CD211;
  }

  .list-item-column--avatar:active {
    border-color: #5AAAFA;
  }

  .list-item-avatar {
    width: 100%;
    min-height: 240px;
    object-fit: cover;
  }

  // .list-item-avatar-max-height {
  //   max-height: 245px;
  // }

  .list-item-name {
    margin-bottom: 0;
  }

  .list-item-name a:hover:before,
  .list-item-more-link a:hover:before {
    content: '# ';
    position: absolute;
    font-size: inherit;

  }

  .list-item-name a:hover:before {
    left: -20px;
  }

  .list-item-more-link a:hover:before {
    left: -15px;
  }

  .list-item-desc {
    margin-top: 10px;
  }

  .list-item-long-desc {
    height: 200px;
    overflow: hidden;
  }

  .list-item-more-link {
    font-size: 0.9em;
    text-transform: lowercase;
    font-weight: 700;
  }

  .list-item-directions, 
  .list-item-open-hours,
  .list-item-call,
  .list-item-prices {
    display: inline-block;
    width: 100%;
    clear: both;
    line-height: 35px;
  }

  .svg {
    height: auto;
    float: left;
    padding-right: 15px;
  }
}

@media screen and (min-width: 650px) and (max-width: 910px) {

}

@media scren and (min-width: 911px) {
  .list-item-wrap {
    width: 911px;
  }

  .list-item-column {
    max-width: 440px;
  }
}