@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.0.3');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

/**  
 *  COLORS
 * 
 *  OLD:
 *  LIGHTER BLUE - #5D9CEC
 *  DARKER BLUE - #4A89DC
 *
 *  NEW:
 *  Blue theme: background-color: #3498DB;
 *              color:            #cff2ff;
 *
 *  Green theme: background-color: #6BBD2E;
 *               color:            #e1f3cb;
 * 
 *
**/

body {
  width: 100%;
  height: 100%;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

html {
  width: 100%;
  height: 100%;
}

::selection { color: #fff; background: #5D9CEC; }
::-moz-selection { color: #fff; background: #5D9CEC; }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

/* INTRO SECTION HOME PAGE */

.navbar-nav {
  float: right;
}

@media screen and (max-width: 480px) {
  .navbar-nav {
    padding: 15px 0;
    float: left;
  }
}

.navbar-brand:hover,
.navbar-nav .active, 
.navbar-nav .active:hover,
.nav>li a:hover {
  color: #fff;
  text-decoration: line-through;
}

.navbar {
  min-height: 15px;
  padding: 10px 0 15px;
  border-radius: 0;
}

/*reset some bootstrap styles*/
.navbar-header {
  padding-left: 0;
  padding-right: 45px;
}

.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
}

.navbar-nav>li>a:first-child {
  padding-left: 0;
}

.navbar-brand {
  padding-top: 10px;
  cursor: pointer;
}

.navbar-nav .active {
  padding-top: 0;
}

.collapse {
  display: block;
  border: 0;
  max-height: 100%;
  box-shadow: none;
}

.nav>li {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.intro-section {
  padding: 5% 0;
  width: 100%;
  color: #fff;
}

.blue-theme {
  background-color: #3498DB;
  color:            #cff2ff;
}

.intro-info {
  text-align: center;
}

.intro-title-1,
.intro-title-name {
  font-weight: 400;
  font-family: 'Slabo 27px', serif;
}

.intro-title-1 {
  font-size: 24px;
}

.intro-title-name {
  color: #fff;
  font-size: 42px;
}

.intro-title-2 {
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.5em;
}

.intro-title-2 a {
  text-decoration: none;
  border-bottom: 1px dotted #a6a6a6;
}

.profile-h2,
.profile-h3 {
  font-family: 'Slabo 27px', serif;
}

.dash {
  margin: 2% 0 2% 0;
  background-color: #5D9CEC;
  width: 30px;
  height: 4px;
}

.line {
  margin: 5% auto;
  width: 80%;
  background-color: #a6a6a6;
}

.projects {
  padding: 0 0 1%;
  font-weight: 400;
}

.hire-me-btn {
  margin: 0 0 5%;
  padding: 1.5%;
  width: 100%;
  height: 10%;
  background-color: #428bca;
  border-radius: 5px;
  text-align: center;
}

.hire-me-btn:hover {
  background-color: #286eab;
}

.hire-me-btn a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.hire-me-btn a:hover {
  text-decoration: none;
}

@media screen and (max-width: 480px){
  .intro-title-1 {
    font-size: 20px;
    text-align: center;
  }
  .intro-title-2 {
    margin: 10% 0;
    font-size: 21px;
  }
}

/* END INTRO SECTION HOME PAGE */

/* HOMEPAGE PROJECTS BOXES */

.feature-list{margin-left:0;padding:0;list-style:none;font-family: 'Source San Pro'}
@media screen and (min-width: 720px){
  .feature-list__item{float:left;width:33.333333333%}
  .feature-list__item:nth-child(3n+1):last-child{width:100%}
  .feature-list__item:nth-child(3n+1):nth-last-child(2),
  .feature-list__item:nth-child(3n+1):nth-last-child(2)+.feature-list__item{width:50%}
}
.feature-list__link{position:relative;display:block;background-color:#f43059;padding-top:56.25%;margin-top:2px;border-radius:3px}
@media screen and (min-width: 720px){
  .feature-list__link{margin-left:2px}
  .feature-list__item:nth-of-type(-n+3)>.feature-list__link{margin-top:0}
  .feature-list__item:nth-of-type(3n+1)>.feature-list__link{margin-left:0}
}
.feature-list__title{font-size:32px;font-size:2rem;line-height:1;font-weight:600;text-align:center;position:absolute;
  top:50%;right:0;left:0;margin-top:-24px;color:#fff;-webkit-transition:0.2s;-moz-transition:0.2s;transition:0.2s
}
.feature-list__link:hover .feature-list__title,
.feature-list__link:focus .feature-list__title,
.feature-list__link:active .feature-list__title{margin-top:-26px}
.feature-list__sub{display:block;font-size:16px;font-size:1.5rem;line-height:2}
.feature-list__sub{display:block;font-size:16px;font-size:1.5rem;line-height:2}

/* END OF HOMEPAGE PROJECTS BOXES */

/* ABOUT PAGE */

.about-section {
  margin: 2% 0;
  font-size: 30px;
}

.about-section p {
  padding-top: 10px;
  font-size: 19px;
}

.profile-picture {
  position: relative;
  margin: 0 30px 30px 0;
  background: url('../img/profile-pic-2105.jpg') center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 3px solid #fff;
  overflow: hidden;
}

.profile {
  padding: 2% 0 0 0;
}

.profile p {
  font-size: 21px;
}

.profile-header {
  display: block;
  width: 100%;
  height: 45%;
}

.icon-color {
  color: #bd1f34;
}

.profile-contact {
  margin-top: 5%;
  padding: 3% 0 3% 0;
  width: 100%;
  background-color: #5D9CEC;
  text-align: center;
  color: #fff;
}

.index-hire-about {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

@media screen and (max-width : 480px){
    .profile-contact,
    .index-hire-about {
      margin: 10% 0 0;
    }
}

.blue-link {
  text-decoration: line-through;
  color: #5D9CEC;
}

.skills-set {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}

@media screen and (max-width: 480px) {
  .skills-set {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}

.skills-set li {
  padding: 5px 0;
  list-style-type: none;
}

.skills-set-tick {
  color: #5D9CEC;
  padding-right: 10px;
}


/* END ABOUT PAGE */

/* CONTACT PAGE */

.contact-section{
  margin: 0 0 5% 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: left;
  font-size: 18px;
}
.contact-section u {
   text-decoration: none;
   border-bottom: 1px dotted #aeaeae;
}

/* END CONTACT PAGE */

.green {
   color: green;
}
.services-section {
   padding-top: 150px;
   text-align: center;
   background: #fff;
}

/* FOOTER */
.footer-section {
  min-height: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
  font-size: 14px;
}
.footer-copyright {
  margin-top: 15px;
  display: inline;
  float: left;
  color: #777777;
  font-size: 1.2em;
}
.footer-social {
  margin: 2% 0 0 0;
  float: right;
  width: 50%;
  font-size: 26px;
}
.footer-social i {
  margin-right: 5%;
}
.footer-social a {
  color: inherit;
}
.footer-social a:hover {
  text-decoration: none;
}
@media screen and (max-width : 1024px){
    .footer-social {
      margin: -1% 0 0 0;
    }
}
@media screen and (max-width : 480px){
    .footer-social,
    .footer-policy {
      float: left;
      text-align: left;
    }
    .footer-social {
      margin: 10px 0 10px 0;
    }
}
.twitter:hover {
  color: #00aced;
  transition: ease 0.5s;
}
.facebook:hover {
  color: #3b5998;
  transition: ease 0.5s;
}
.in:hover {
  color: #0e76a8;
  transition: ease 0.5s;
}
.plus:hover {
  color: #d34836;
  transition: ease 0.5s;
}
.fa-desktop {
  font-size: 10em;
}
.hire-me-hp { /* Hire me Button on Homepage */
  background-color: #5D9CEC;
  color: #fff;
}
.or {
  padding: 0 0 0 2%;
}
@media screen and (max-width : 480px){
  .space-right { margin-right: 0; }
    .or {
      display: block;
      padding: 3% 0 3% 0;
  }
}

.space { margin: 0 0 6% 0;}
.space-left { margin: 0 0 0 2%; }
.space-right { margin: 0 2% 0 0; }
.img { width: 100%; }
.img:hover{
  cursor: pointer;
  opacity: 0.8;
    -webkit-transition: all 300ms ease-out;   
       -moz-transition: all 300ms ease-out;  
         -o-transition: all 300ms ease-out;  
        -ms-transition: all 300ms ease-out;  
            transition: all 300ms ease-out;  
}
@media screen and (max-width : 480px){
    .img {
      max-height: 250px;
    }
}

/* SHOWCASE PAGE */
.header {
  display: block;
  margin-top: -5px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.text-large {
  font-size: 2em;
  font-weight: normal;
}
.text-small {
  font-size: 12px;
  font-weight: normal;
}
@media screen and (max-width: 480px) {
  .text-large {
    font-size: 20px;
  }
}
.skills {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.skills-item {
  font-size: 18px; 
  list-style-type: none;
  word-break: break-word;
  color: #fff;
  background-color: #5D9CEC;
  margin: .5em 0;
  padding: .5em;
    -webkit-transition:.5s ease;
  transition:.5s ease
}
@media (min-width:48.75em){.skills-item{position:relative;-webkit-transition:.5s ease;transition:.5s ease}
.skills-item.skillMagic{opacity:1;-webkit-transform:translate(50px,20px);-ms-transform:translate(50px,20px);transform:translate(50px,20px);-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}}
.skills-item.css{width:97%}
.skills-item.html{width:98%}
.skills-item.js{width:55%}
.skills-item.php{width:35%}
.skills-item.sql{width:50%}
.skills-item.xml{width:70%}
.skills-item.java{width:45%}
.skills-item.responsive{width:90%}
.skills-item.wp{width:90%}
.skills-item.c5{width:89%}
.skills-item.github{width:60%}
.skills-item.adobe{width:87%}
.skills-item.mobile{width:91%}
.skills-item.android{width:50%;}

/* PROJECTS SECTION */
.project-section {
  display: inline-block;
  width: 100%;
}

.project-block {
  height: 200px;
}

.project-info {
  position: relative;
  width: 50%;
  height: 250px;
}

.project-brand-left .project-info {
  padding-left: 40px;
}

.project-brand {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 250px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #333;
}

.project-brand span,
.project-info-inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
}

.project-brand span {
  left: 50%;
}

.project-info-inner {
  left: 40%;
}

.project-brand-right .project-info,
.project-brand-left .project-brand {
  float: left;
}

.project-brand-left .project-info,
.project-brand-right .project-brand {
  float: right;
}

.project-info-year-employer {
  font-size: 14px;
  color: #a6a6a6;
}

.project-info-title {
  font-family: 'Slabo 27px', serif;
}

.project-info-link {
  font-size: 18px;
}

.projects-line {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  width: 100%;
}

.yumi {
  background-color: #e81273;
}

.animal {
  background-color: #7ecfe0;
}

.finestra {
  background-color: #ff7e14;
}

.twoten {
  background-color: #cdcabb;
}

.snaporder {
  background-color: #2358a8;
}

@media screen and (max-width: 480px) {
  .project-info, 
  .project-brand {
    position: relative;
    float: left;
    width: 100%;
  }

  .project-brand-left .project-info {
    padding-left: 0;
  }

  .projects-line {
    margin: 10px 0;
  }

  .project-info-inner {
    position: relative;
    left: auto; 
    right: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    -webkit-transform: initial;
    -ms-transform: initial;
      transform: initial;
  }
} 